#check-form {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    color: #0275d8;
    font-size: 1.6rem;
    margin-top: 1rem;
    text-align: center;
}

#check-employee-id {
    font-size: 2.2rem;
    padding: 1.8rem;
    text-align: center;
}

#login-form {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: #dc3545;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

input {
    font-size: 1.8rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 30rem;
    border: 0.1rem solid #768692;
    border-radius: 0.5rem;
}

#login-form .btn {
    margin-top: 1rem;
}

/* Estilização para o link de cadastro */
.register-link {
    font-size: 1.8rem;
    color: #0275d8;
    text-decoration: none;
    margin-top: 1.5rem;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

.return-link {
    font-size: 1.6rem;
    color: #0275d8;
    text-decoration: none;
    margin-top: 2rem;
    cursor: pointer;
    text-align: center;
}

.return-link:hover {
    text-decoration: underline;
}

input:valid {
    border-color: #28a745;
}

#logo-footer {
    display: none;
    /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* Espaçamento menor entre logos */
    width: 100%;
    margin-top: 40px;
    /* Espaçamento após o botão "Voltar" */
    padding-bottom: 20px;
    flex-wrap: wrap;
}

#logo-footer img {
    height: 50px;
    width: auto;
    object-fit: contain;
}

@media only screen and (max-width: 768px) {
    #logo-footer {
        gap: 30px;
    }

    #logo-footer img {
        height: 40px;
    }
}

@media only screen and (max-width: 480px) {
    input {
        font-size: 1.6rem;
        padding: 1.2rem;
    }

    .register-link {
        font-size: 1.6rem;
    }

    #logo-footer {
        gap: 20px;
    }

    #logo-footer img {
        height: 35px;
    }
}

.return-link {
    font-size: 1.4rem;
    margin-top: 1.5rem;
}


.error {
    color: rgb(255, 80, 80);
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display: none;
}